.card-header h5.mb-0.rowTitle {
    position: relative;
}

.card-header h5.mb-0.rowTitle a {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    cursor: pointer;
}

.card-header h5.mb-0.rowTitle a:nth-child(2) {
    right: 0px;
}

.card-header h5.mb-0.rowTitle a:nth-child(3) {
    right: 35px;
}

.card-header h5.mb-0.rowTitle a:nth-child(2):hover svg {
    color: #00B57A;
}

.card-header h5.mb-0.rowTitle a:nth-child(3):hover svg {
    color: red;
}

input#readOnly {
    border: none;
    border-radius: 0px;
}